<h1>Ofertas:</h1>

<ul class="offers">
  <% @offers.each do |offer| %>
    <li>
      <span class="advertiser_name"><%= offer.advertiser_name %></span>

      <%= link_to "Offer", client_signed_in? ? offer.url : new_client_session_path(return_to: offer.url) %>
    </li>
  <% end %>
</ul>