<div class="container">
  <div class="row">
    <div class="col">
      <h1>Offers:</h1>
    </div>
  </div>

  <ul class="row offers">
    <% @offers.each do |offer| %>
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <% if offer.premium? %>
              <div class="premium">premium</div>
            <% end %>

            <h5 class="card-title"><%= offer.advertiser_name %></h5>

            <% redirect_path = redirect_to_offer_path(offer_id: offer.id.to_s) %>

            <% if client_signed_in? %>
              <%= link_to "Shop Now", redirect_path, remote: true, method: :post, class: 'btn btn-primary' %>
            <% else %>
              <%= link_to "Shop Now", new_client_session_path(return_to: redirect_path), class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>